@font-face {
  font-family: 'Retro Pixel Cute Mono';
  src: url('../public/fonts/retro-pixel-cute-mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retro Pixel Arcade';
  src: url('../public/fonts/retro-pixel-arcade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retro Pixel Thick';
  src: url('../public/fonts/retro-pixel-thick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Retro Pixel Thick", cursive;
  letter-spacing: 0.05em;
}

body {
  font-family: "Retro Pixel Cute Mono", monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}